/* 메인 첫번째 슬라이드 */
.main-first-slide [class*='swiper-pagination-clickable'] {
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 11px 14px;
  z-index: 10;
  width: 148px;
  height: 46px;
  border-radius: 0 0 0 24px;
  display: flex;
  align-items: center;
}
.main-first-slide [class*='swiper-pagination-clickable']::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(/images/outline-border-left.svg) no-repeat center / cover;
  position: absolute;
  left: -24px;
  top: 0;
  transform: rotate(-90deg);
}
.main-first-slide [class*='swiper-pagination-clickable']::after {
  content: '';
  width: 24px;
  height: 24px;
  background: url(/images/outline-border-left.svg) no-repeat center / cover;
  position: absolute;
  right: 0px;
  bottom: -24px;
  transform: rotate(-90deg);
}

.main-first-slide
  [class*='swiper-pagination-clickable']
  [class*='swiper-pagination-bullet'] {
  width: 10px;
  height: 10px;
  background: #d4d4d5;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
}
.main-first-slide
  [class*='swiper-pagination-clickable']
  [class*='swiper-pagination-bullet-active'] {
  background: #292a2e;
}

/* 메인 두번째 슬라이드 */
.main-second-slide {
  /* 뷰포트에 맞게 100% */
  width: calc(100vw - 10px);
  height: 100%;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50vw);
  overflow-x: hidden;
}
.main-second-slide > [class*='swiper'] {
  padding: 0 20px;
}

.main-second-slide [class*='swiper-wrapper'] {
  transition-timing-function: linear !important;
}
/* 슬라이드 사이즈 자동 맞춤됨 */
.main-second-slide [class*='swiper-slide'] {
  width: auto;
}

/* 푸터 슬라이드 */
.footer-flow::before,
.footer-flow::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 100%;
  background: linear-gradient(270deg, rgba(19, 19, 19, 0) 0%, #131313 100%);
  z-index: 10;
}
.footer-flow::before {
  left: 0;
  top: 0;
}
.footer-flow::after {
  right: 0;
  top: 0;
  transform: rotate(-180deg);
}
.footer-flow [class*='swiper-wrapper'] {
  transition-timing-function: linear !important;
}
.footer-flow [class*='swiper-slide'] {
  width: auto;
  height: 64px;
}

@media (max-width: 767px) {
  .main-first-slide {
    flex: 1 1 0;
  }
  .main-first-slide [class*='swiper-pagination-clickable'] {
    top: auto;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    padding: 4px 10px;
    border-radius: 16px 16px 0 0;
    width: 116px;
    height: 32px;
  }
  .main-first-slide
    [class*='swiper-pagination-clickable']
    [class*='swiper-pagination-bullet'] {
    width: 8px;
    height: 8px;
    margin: 0 8px;
  }
  .main-first-slide [class*='swiper-pagination-clickable']::before {
    width: 16px;
    height: 16px;
    transform: rotate(0);
    top: auto;
    bottom: 0;
    left: -16px;
  }
  .main-first-slide [class*='swiper-pagination-clickable']::after {
    width: 16px;
    height: 16px;
    transform: rotate(90deg);
    bottom: 0;
    right: -16px;
  }

  .footer-flow [class*='swiper-slide'] {
    height: 32px;
  }
}
