/* 메인 상단 검색창 애니메이션 */
.main-search [class*='search-animation'] {
  position: relative;
}
.main-search [class*='search-animation']::after {
  content: '';
  position: absolute;
  top: -2.5px;
  left: -2.5px;
  right: -2.5px;
  bottom: -2.5px;
  border-radius: 100px;
  background: linear-gradient(60deg, #10cfc9, #4dc4ea, #1c93ff, #8e75ff);
  z-index: -1;
  background-size: 300% 300%;
  animation: aniGradient 3s ease alternate infinite;
}

@keyframes aniGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 메인 A to Z 호버 */
.hover-scale > div {
  overflow: hidden;
}
.hover-scale:hover img {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.hover-scale:hover .hover-deco {
  background-size: 100% 100%;
}
.hover-deco {
  background: linear-gradient(transparent calc(100% - 3px), rgb(0, 0, 0) 3px) 0%
    0% / 0% 100% no-repeat;
  display: inline;
  transition: all 0.9s;
}

/* 메인 tidings Second 말풍선꼬리 after 처리 */
.balloon-pointer {
  position: relative;
  font-size: 18px;
  color: #292a2e;
  line-height: 24px;
  letter-spacing: -0.02em;
  background: #fff;
  padding: 16px 20px;
  border-radius: 24px 24px 0 24px;
  width: fit-content;
  margin-left: auto;
}
.balloon-pointer:nth-of-type(1) {
  margin-bottom: 16px;
}
.balloon-pointer::after {
  content: '';
  position: absolute;
  right: -16px;
  bottom: 0;
  width: 16px;
  height: 16px;
  background: url(/images/outline-border-right.svg) no-repeat center bottom /
    cover;
}

/* 메인 하단 큐알코드 */
.qr {
  margin: 0px auto 42px;
  height: 150px;
}

@keyframes qrBalloon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.arrow {
  background: #40d9d4;
  font-size: 16px;
  color: #131313;
  padding: 9px 16px;
  font-weight: 600;
  border-radius: 100px;
  width: fit-content;
  margin: 0 auto 40px;
  position: relative;
  animation: qrBalloon 1.9s ease-in-out infinite;
}
.arrow::before {
  content: '';
  position: absolute;
  border-bottom: 8px solid #40d9d4;
  border-top: 0px solid #40d9d4;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
}

/* 프로덕트 슬라이드 */
.product-slide [class*='swiper-wrapper'] {
  transition-timing-function: linear !important;
}
.product-slide [class*='swiper-slide'] {
  width: auto;
}

@media (max-width: 767px) {
  .balloon-pointer {
    font-size: 14px;
    line-height: 20px;
  }

  .qr {
    margin: 0px auto 16px;
    height: 90px;
  }

  .arrow {
    display: none;
  }
}
